GCF_002022765.2_C_virginica-3.0_rna.fna
.DS_Store
data/ref_C_virginica-3.0_Gnomon_gene.fa
analyses/1004/
analyses/1004b/
.Rproj.user
Output/
Pop_Fastas/
analyses/SNP.TRSdp5g75mtDNA.recode.consensus.fa
data/SNP.TRSdp5g75mtDNA.recode.vcf copy.gz
data/test.vcf
analyses/test_d
analyses/test_consensus.fa
data/tmp/
analyses/2_CL_5.F.fa
analyses/4_CL_5.F.fa
analyses/CL_5.F.fa
data/CL_5.F.bam
data/CL_5.F.sorted.bam
data/CL_5.F.sorted.bam.bai
analyses/Cv_gene_sprot.05.blastout
jupyter/Cv_gene_sprot.05.blastout
jupyter/SNP.TRSdp5g95FnDNAmaf05.sorted.ANACfill.CS_7.vcf.gz
